  <div class="container-fluid d-flex justify-content-around align-items-center p-2 sidnav-top">
        <div class="image-div  rounded-circle"><img src="./src/assets/slider-01.jpg" alt="#"></div>
    <div class="">
      <h6 class="mb-0 ">Ahmed Ali</h6>
      <p class="mb-0 ">Ahmed@gmail.com</p>
    </div>
    <a >
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </a>

  </div>
  <div class="">

  <ul class="list-unstyled ps-4 pt-2 bg-white left-ul">
    <li class=" mx-2 p-2">
      <a [routerLink]="['/A-Dashboard']">
        <i class="fa-brands fa-slack"></i>
        Dashboard
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/B-messages']">
        <i class="fa-solid fa-envelope"></i>
        Message
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/C-chats']">
        <i class="fa-solid fa-comments"></i>
        Chats
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/D-compagins']">
        <i class="fa-solid fa-bullhorn"></i>
        Compaigns
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/E-templates']">
        <i class="fa-solid fa-table-cells-large"></i>
        Templates
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/F-manage-contacts']">
        <i class="fa-solid fa-user"></i>
        Manage Contacts
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/G-users']">
        <i class="fa-solid fa-user-group"></i>
        Users
      </a>
    </li>
    <li class="mx-2 p-2">
      <a [routerLink]="['/H-devices']">
        <i class="fa-solid fa-desktop"></i>
        Devices
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/I-Bot']">
        <i class="fa-solid fa-robot"></i>
        Bot
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/J-billing']">
        <i class="fa-solid fa-wallet"></i>
        Billing
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/user/bob']">
        <i class="fa-regular fa-circle-play"></i>
        Videos
      </a>
    </li>
    <li class=" mx-2 p-2">
      <a [routerLink]="['/user/bob']">
        <i class="fa-solid fa-note-sticky"></i>
        Notes
      </a>
    </li>
    <li class=" mx-2 p-2 i-help ">
      <a [routerLink]="['/user/bob']">
        <i class="fa-solid fa-circle-question"></i>
        Help
      </a>
    </li>
  </ul>

</div>








